/node_modules
/public/hot
/public/storage
/public/assets/dokumen_fs
/public/assets/dokumen_mp
/public/assets/dokumen_ded
/public/assets/dokumen_lingkungan
/public/assets/dokumen_fisik
/public/assets/foto_lokasi
/public/assets/jaringan_pdam
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
